@import url('https://fonts.googleapis.com/css?family={fontFamily}:100,300,400,500,700,900&display=swap');
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,300);

* {
  font: normal 76px/1 Roboto, Helvetica, sans-serif;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}


.phas-dashboard {
  background-color: transparent;
  /* Top Right Bottom Left */
  /* Yes, this is padding. I am calling it margin to keep naming "similar" */
  padding: 2px 2px 2px 2px;
}

.conclusion{
  font-size: 125px;
  text-align: center;
  color: white;
  font-weight: bold;
  transition: all 300ms ease;
}

.evidence {
  width: 100%;
  height: 100%;
  margin: auto auto;
}

.inactive {
  filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(137deg) brightness(115%) contrast(101%);
  transition: all 300ms ease;
}

.active {
  filter: invert(65%) sepia(55%) saturate(2682%) hue-rotate(74deg) brightness(102%) contrast(82%);
  transition: all 300ms ease;
}

.impossible {
  opacity: 0.6;
  filter: brightness(0) saturate(100%) invert(48%) sepia(92%) saturate(5336%) hue-rotate(351deg) brightness(94%) contrast(94%);
  transition: all 300ms ease;
}

.evidence-inner-container {
  margin-top: 5px;
  margin-bottom: 5px;
}

.evidence-svg-container {
  height: auto; 
  margin: 0 5px;
}


.divider-color {
  border-color: white ;
  padding: 30px;
  margin: 15px;
}
.divider-width{
  border-width: 25px;
}
.divider-type{
  border-style: solid;
  border-radius: 24px;
}

/* CSS FOR FLEX */
.h-screen{
  max-height: 100hv;
}
.flex {
  display: flex;
}
.flex-col {
  flex-flow: column;
}
.flex-row{
  flex-flow: row;
}
.flex-wrap{
  flex-wrap: wrap;
}
.flex-grow{
  flex-grow: 1;
}
.justify-between{
  justify-content:space-between;
}

  .st0{display:none;}
  .st1{display:inline;fill:#FFFFFF;}
  .st2{display:inline;}

  .st4{opacity:0.4;}
  .st5{opacity:0.4;}
  .st6{opacity:0.6;}

  